.main {
  display: flex;
  justify-content: space-between;
}
.box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  color: white;
}
.sub-main {
  display: flex;
}
.mr-5 {
  margin-right: 5px;
}

.main2 {
  display: flex;
  flex-direction: column;
}
.box2 {
  width: 100px;
  height: 100px;
  background-color: pink;
  color: white;
}
.box-center2 {
  align-self: center;
}
.box-end2 {
  align-self: flex-end;
}

.ex03-main {
  display: flex;
  justify-content: center;
}

.ex03-big-box {
  width: 200px;
  height: 200px;
  background-color: gray;
  color: white;
  position: relative;
}
.ex03-sm-box {
  width: 100px;
  height: 100px;
  background-color: orange;
  color: black;
}
.ex03-box2 {
  position: absolute;
  left: 50px;
  top: 50px;
}
.box4 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  color: white;
}
.box-2-4 {
  background-color: green;
}
.box-position4 {
  position: relative;
  left: 50px;
  top: -50px;
}

.box5 {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
}
.box-big5 {
  width: 400px;
  height: 150px;
  background-color: hotpink;
  color: white;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.box-top5 {
  position: absolute;
  top: 0;
  right: 0;
}
.box-bottom5 {
  position: absolute;
  bottom: 0;
  left: 0;
}
